body{
	background-color: #fff;
	width: 174px;
	height: 200px;
	
}

h1{
	display: block;
	text-align: center;
	white-space: nowrap;
}

p{
	text-align: center;
}

.centerButton{
	text-align: center;
}

#changeColor {
	width: 40px;
	height: 40px;
	outline: none;
	white-space: nowrap;
	margin-bottom: 20px;
}

#TAColor{
	text-align: center;
	font-size: 24px;
	width: 140px;
	margin-bottom:10px;
	letter-spacing: 5px;

}

/* ----Tool tip css for copy text start---- */

/* Css to modify the Copy Text button */
.integration-checklist__copy-button {
  cursor: pointer;
}

/* Css to modify the Copy Text on hover arrow bubble */
.integration-checklist__copy-button:before {
  content: '';
  display: none;
  position: absolute;
  z-index: 9998;
  top: 180px;
  left: 90px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.72);
}

/* Css to modify the Copy Text on hover rectangle bubble */
.integration-checklist__copy-button:after {
  content: 'Copy to Clipboard';
  display: none;
  position: absolute;
  z-index: 9999;
  top: 144px;
  left: 40px;
  width: 114px;
  height: 36px;
  color: #fff;
  font-size: 10px;
  line-height: 36px;
  text-align: center;
  background: rgba(0, 0, 0, 0.72);
  border-radius: 3px;
}

/* Css to modify the Copy Text button on hover animation */
.integration-checklist__copy-button:hover {
  background-color: #eee;
}


/* Css to modify the Copy Text button on hover*/
.integration-checklist__copy-button:hover:before, .integration-checklist__copy-button:hover:after {
  display: block;
}

/* Css to modify the Copy Text button on active and focus */
.integration-checklist__copy-button:active, .integration-checklist__copy-button:focus {
  outline: none;
}

/* Css to modify the Copy Text button text after copied */
.integration-checklist__copy-button:active:after, .integration-checklist__copy-button:focus:after {
  content: 'Copied!';
}

/* ----Tool tip css for copy text end---- */

